*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #44E3D3;
}

#subtitulo{
    font-family: sans-serif;
    color: #44E3D3;
}

fieldset{
    border: 0;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #00635A;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #00635A;
    /* display: block; */
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #00635A;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    /* display: block; */
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #DB6B37;
}

.botao {
    font-size: 1.2em;
    background: #00635A;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 1em 0 0 11em;
    /* position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%; */
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #E19C7C;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check{
    /* display: inline-block; */
}


.conteiner{
    background-color: #32A89C;
    border-radius: 5px;
    padding: 1em;
}

#experiencia{
    margin-left: 3em;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}