*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B761DB;
    display: flex;
    justify-content: center;
}

a{
    color: #73318F;
    font-size: 1.2em;
    
}

.grupo{
    border-radius: 1em;
    margin: 5em 0;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 20em;
    height: 10em;
    background-color: #DC8AFF;
}
